[submodule "file-server-core"]
	path = file-server-core
	url = https://github.com/eluinstra/file-server-core.git
	branch = dev
[submodule "file-server"]
	path = file-server
	url = https://github.com/eluinstra/file-server.git
	branch = dev
[submodule "file-client-core"]
	path = file-client-core
	url = https://github.com/eluinstra/file-client-core.git
	branch = dev
[submodule "file-client"]
	path = file-client
	url = https://github.com/eluinstra/file-client.git
	branch = dev
[submodule "gb-server"]
	path = gb-server
	url = https://github.com/eluinstra/gb-server.git
	branch = dev
[submodule "gb-client"]
	path = gb-client
	url = https://github.com/eluinstra/gb-client.git
	branch = dev
[submodule "file-server-docker"]
	path = file-server-docker
	url = https://github.com/eluinstra/file-server-docker.git
	branch = dev
[submodule "documentation"]
	path = documentation
	url = https://github.com/eluinstra/file-server-documentation.git
	branch = dev
